table {
  width: 100%;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 3.5em;
}
thead {
  background: rgb(232, 245, 255);
  color: brown;
  font-size: large;
}
tbody tr:nth-child(odd){
  background: rgb(241, 210, 215);
}
tbody tr:nth-child(even){
  background: rgb(255, 242, 232);
}
/* h2{
  color: black;
} */

tbody tr:nth-child(odd).completedTask {
  background-color: rgb(215, 241, 215);
}
tbody tr:nth-child(even).completedTask {
  background-color: rgb(186, 209, 186);
}

#numberTasksCompleted {
  font-size: larger;
  font-weight: bold;
}

body {
  background-color: rgb(155, 155, 240);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}